services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    volumes:  # remove mounting code in production
      - ./core:/app/core:ro
      - ./api:/app

  watchdog:
    build:
      context: .
      dockerfile: watchdog/Dockerfile
    volumes:  # remove mounting code in production
      - ./core:/app/core:ro
      - ./watchdog:/app

  cron:
    build:
      context: .
      dockerfile: cron/Dockerfile
    volumes: # remove mounting code in production
      - ./core:/app/core:ro
      - ./cron:/app