services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    volumes:  # remove mounting code in production
      - ./core:/app/core:ro
      - ./api:/app
      - ./logs:/logs
    restart: always
    environment:
      - LOG_LEVEL=INFO
      - LOG_DIR=logs
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
    command: >
      uvicorn api_adapter:app
      --host 0.0.0.0
      --port 8000
      --reload

  watchdog:
    build:
      context: .
      dockerfile: watchdog/
    command: python -m watchdog.main --input-dir /data/input --output-dir /data/output
    restart: always
    volumes:  # remove mounting code in production
      - ./core:/app/core:ro
      - ./watchdog:/
      - ./data/watchdog:/data
      - ./logs:/logs
    environment:
      - LOG_LEVEL=INFO
      - LOG_DIR=logs

  cron:
    build:
      context: .
      dockerfile: cron/Dockerfile
    command: >
      python -m cron.entrypoint
      --input /data/input/stocks.csv
      --output /data/output/stocks_output.csv
      --cron "*/10 * * * *"
    volumes: # remove mounting code in production
      - ./core:/app/core:ro
      - ./cron:/app
      - ./data/cron:/data
      - ./logs:/logs
    restart: always
    environment:
      - LOG_LEVEL=INFO
      - LOG_DIR=logs

  cli:
    build:
      context: .
      dockerfile: cli/Dockerfile
    command: >
      python -m cli.entrypoint
      --input /data/input/stocks.csv
      --output /data/output/stocks_output.csv
    volumes: # remove mounting code in production
      - ./core:/app/core:ro
      - ./cli:/app
      - ./data/cli:/data
      - ./logs:/logs
    restart: "no"
    environment:
      - LOG_LEVEL=INFO
      - LOG_DIR=logs